<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>52969446647-2jemoe0dmmpua1jh4sesrv7jq79v67v0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.52969446647-2jemoe0dmmpua1jh4sesrv7jq79v67v0</string>
	<key>API_KEY</key>
	<string>AIzaSyDY9E2Y__jWPbvdPAvaEesR4oQ_ZIADE2E</string>
	<key>GCM_SENDER_ID</key>
	<string>52969446647</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseExample</string>
	<key>PROJECT_ID</key>
	<string>flat-firebase-example</string>
	<key>STORAGE_BUCKET</key>
	<string>flat-firebase-example.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:52969446647:ios:0a2e6d91b1d90a84e007f2</string>
</dict>
</plist>